.tooltip {
  position: absolute;
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  z-index: 9999;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000000;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(200, 180, 180, 0.75) !important;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

    &::after {
      content: "";
      position: absolute;
      top: 10px; // вертикальное положение стрелки
      left: -6px; // вынос за левый край
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid #ccc; // граница стрелки
    }

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -5px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid #fff; // фон внутри стрелки
    }
  }

  &__tooltip-top {
    display: flex;
    justify-content: space-around;
    // gap: 20%;
    width: 100%;
  }

  &__tooltip-icon {
  }

  &__tooltip-close {
    cursor: pointer;
  }

  &__tooltip-title {
  }

  &__tooltip-overview {
  }
}
