.movie-card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.51);
  z-index: 1;

  &__poster {
    width: 70%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(10, 10, 10, 0.751);
    position: relative;
  }

  &__overview {
    position: absolute;
    top: 1%;
    right: 2%;
    border-radius: 50%;
    background-color: #b4b3b2;
    width: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  &__img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
  }

  &__info {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
  }

  &__rating {
    font-weight: 600;
  }

  &__movie-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #f5f5f5;
  }

  &__release-date {
    font-weight: 500;
    span {
      font-weight: bold;
    }
  }

  &__watch-link {
    color: #2904fb;
    text-decoration: underline;
    align-self: center;
    padding-top: 20px;
  }

  &__tooltip {
    visibility: hidden;
    opacity: 0;
    width: 280px;
    top: 110%;
    right: -250%;
    position: absolute;

    /* СТРЕЛКА — обводка */
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: 15%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid rgba(255, 228, 228, 0.55);
    }

    /* СТРЕЛКА — фон */
    &::before {
      content: "";
      position: absolute;
      top: -4px;
      right: 15%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid rgba(255, 228, 228, 0.55);
    }
  }

  &__tooltip-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000000;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 228, 228, 0.55) !important;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

  &__tooltip-title {
    font-weight: 900;
  }

  &__tooltip-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #f5f5f5;
  }

  &__tooltip-overview {
    line-height: 1.4;
    word-break: break-word;
    text-align: justify;
    text-indent: 5%;
  }
}

.movie-card__tooltip.tooltip-show {
  z-index: 1000000;
}

.movie-card__overview:hover .movie-card__tooltip {
  visibility: visible;
  opacity: 1;
}
