.movie-card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.51);
  z-index: 1;

  &__poster {
    width: 70%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(10, 10, 10, 0.751);
    position: relative;
  }

  &__overview {
    position: absolute;
    top: 1%;
    right: 2%;
    border-radius: 50%;
    background-color: #b4b3b2;
    width: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  &__img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
  }

  &__info {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
  }

  &__rating {
    font-weight: 600;
  }

  &__movie-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #f5f5f5;
  }

  &__release-date {
    font-weight: 500;
    span {
      font-weight: bold;
    }
  }

  &__watch-link {
    color: #2904fb;
    text-decoration: underline;
    align-self: center;
    padding-top: 20px;
  }

  
}

.movie-card__tooltip.tooltip-show {
  z-index: 1000000;
}
