.trending {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  &__title {
    text-align: center;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: 600;
  }

  &__content {
    background-color: #e4e3dd;
    border-radius: 5px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.51);
    padding: 5px;
  }

  &__tabs {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__tab-btn {
    color: #313131;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__tab-content {
    padding: 10px;
  }

  &__cards {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    transition: display 0.2s ease;
  }
}
.active {
  display: block;
}